         *{

    margin: auto; 
    padding: auto; 
    text-decoration-color: white;



}








.zeshan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}




.zeshan p {
    color: #140b16;
    text-align: center;
    font-family:serif ;
  font-size: 10px; 
    font-weight: 1000;

    text-emphasis-position: under;

   
}

.body {
  font-size: 10px; 
  background-color: rgba(201,179,230,.75);
margin: 18px auto 0 auto;
  margin-top: 18px;
padding: 4px;
width: 95%;

}

.PictureOfMe {
   
     margin: auto;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(life.gif);

    width: 1920px;
    height: 1080px;

    
    background-size: cover;
    background-position: center; 



}
.zeshan {
margin: 20px; 
padding: 20px; 
background: rgba(91, 128, 248, 0.692);
line-height: 18px; 
height: 176px;
 width: 450px;
 font-size: 18px;

}

@media only screen and  (min-width: 900px) {
  .PictureOfMe {
    width: 100%;
    height: 2115px;
    background-size: 100% 100%;
    background-position: center;
}
}





  .image2 {
    /*width: 200px;
    height: 200px; */
    border-radius: 50%;
    position: absolute;
    top: -193.5%;
    left: -115%;
  }


  
  .image3 {
    margin: auto;
    border-radius: 50%;
    position: absolute;
    top: -163%;
    left: 13%;
  } 
  

  .image4 {
    
    position: absolute;
    top: 86%;
    left: 55%;
  }
  

  
  .image5 {
    border-radius: 50%;
    position: absolute;
    top: 79%;
    left: 15%;
  }
  
  .image6 {
    position: absolute;
    top: 128.5%;
    left: -85%;
  }
  

  
  .image7 {
    border-radius: 50%;
    position: absolute;
    top: -14.5%;
    left: -97%;
  }
  
  .image8 {
    border-radius: 50%;
    position: absolute;
    top: -103.5%;
    left: 105%;
  }
  
.image9 {
  border-radius: 50%;
 /* height: 500px;
  width: 890px; */
  transform: rotate(-0.26turn);
    position: absolute;
    top: 134%;
    left: -77%;
}
.image10 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 0.5%;
}

.image11 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 10.5%;
}
.image12 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 20.5%;
}
.image13 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 30.5%;
}
.image14 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 40.5%;
}
.image15 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 50.5%;
}
.image16 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 60.5%;
}
.image17 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 70.5%;
}

.image18 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 80.5%;
}

.image19 {
  border-radius: 50%;
  position: absolute;

  top: 1.5%;
  left: 87.6%;
}

